/* LISTAS */
/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* LISTAS */
/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* LISTAS */
* {
  padding: 0;
  margin: 0;
}
* ::-webkit-scrollbar {
  width: 10px;
}
* ::-webkit-scrollbar-thumb {
  background: #300b39;
  border-radius: 8px;
}
* ::-webkit-scrollbar-track {
  box-shadow: #eeeaf4 0px 0px 5px inset;
  border-radius: 10px;
}

body {
  line-height: 1.55;
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
  background: #2e3d44;
  background: linear-gradient(180deg, #2e3d44 5%, #300b39 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

header {
  padding: 20rem 0;
}

nav {
  text-align: left;
  position: fixed;
  left: 0rem;
  top: 1rem;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  opacity: 20%;
  letter-spacing: 1rem;
  font-size: 0.8rem;
}
nav:hover {
  opacity: 100%;
}

.menu-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  align-items: left;
}

.menu-item {
  font-family: "Roboto Slab", serif;
  font-weight: lighter;
  padding: 0.5rem 2rem;
  color: white;
  list-style: none;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.menu-item:hover {
  background-color: #78a88d;
  color: white;
}

.menu-item-mini {
  letter-spacing: 0.3rem;
  font-size: 0.6rem;
}

.section {
  height: fit-content;
  padding: 5rem;
  text-align: center;
  width: 100%;
}

.titulos {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 3rem;
}

.subtitulos {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 1.2rem;
  width: 15rem;
}

.proximamente {
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  font-size: 3rem;
}

.ttd-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.ttd {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
}
.ttd:hover {
  background-color: #78a88d;
  color: white;
}

.mail {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.mail:hover {
  color: #300b39;
  background-color: #78a88d;
}

.ttd-text {
  color: white;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: #300b39;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  z-index: -50;
}

.nuestrostrabajoscont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.logoscont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0.1rem;
}

.subtitulos-trabajos {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.subtitulos-trabajos:hover {
  background-color: #78a88d;
  color: white;
}

.subtrabcont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.deskmobcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.subtitulos-trabajos-deskmob {
  color: white;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: #300b39;
  padding: 0.15rem;
  font-size: 0.7rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  width: 5rem;
  cursor: pointer;
}
.subtitulos-trabajos-deskmob:hover {
  color: white;
  background-color: #78a88d;
}

.paginascont {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.nuestrostrabajosimg {
  width: 60%;
  margin: 1rem;
  border-radius: 10px;
}

.nuestrostrabajosimgmob {
  width: 15rem;
  margin: 1rem;
  border-radius: 10px;
}

.nuestrostrabajosstatic {
  width: 60%;
  margin: 1rem;
  border-radius: 10px;
  background-color: #2e0c38;
  color: white;
  font-size: 3rem;
  padding: 12rem;
  font-family: "Roboto Slab", serif;
}

.skillscont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
}

.skills {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.skills:hover {
  background-color: #78a88d;
  color: white;
}

.white {
  color: white;
}

.bio {
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  font-family: "Roboto Slab", serif;
  width: 60%;
  padding: 5rem;
  margin: 1rem;
  font-size: 1.5rem;
  border-radius: 15px;
  background-color: #2e0c38;
  animation: excelente 8s infinite;
  animation-name: excelente;
}
@keyframes excelente {
  0% {
    border: 2px white solid;
  }
  10% {
    border: 2px #78a88d solid;
  }
  20% {
    border: 2px white solid;
  }
  30% {
    border: 2px #78a88d solid;
  }
  40% {
    border: 2px white solid;
  }
  50% {
    border: 2px #78a88d solid;
  }
  60% {
    border: 2px white solid;
  }
  70% {
    border: 2px #78a88d solid;
  }
  80% {
    border: 2px white solid;
  }
  90% {
    border: 2px #78a88d solid;
  }
  100% {
    border: 2px white solid;
  }
}

.whitemode {
  color: #2e0c38;
  background-color: white;
}

.cont-botones-skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.hacemeclick {
  font-family: "Roboto Slab", serif;
  color: #2e0c38;
  text-align: center;
  padding: 0.5rem;
  font-size: 1rem;
  width: 25%;
  border: none;
  background-color: white;
  font-weight: bold;
  letter-spacing: 0.5rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.botoncont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.botonsubmit {
  cursor: pointer;
  background-color: #78a88d;
  transition: 0.5s ease-in-out;
  margin-left: 0.4rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  color: white;
}

.navicon {
  width: 3rem;
  filter: invert(100%);
}

.precios-det-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.opc-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.precios-opc {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.precios-opc:hover {
  background-color: #78a88d;
  color: white;
}

.servicios-opc {
  text-decoration: none;
  list-style: none;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  width: 100%;
}

.opcion {
  border-radius: 300px;
}

.servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 60%;
  margin: 1rem;
  border-radius: 10px;
  background-color: #2e0c38;
  color: white;
  font-size: 1.5rem;
  padding: 6rem;
  font-family: "Roboto Slab", serif;
}

.precio-final-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 0rem;
  border: none;
}

.precio-final-opc {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 2.1rem 0.5rem;
  font-size: 2rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border: none;
}
.precio-final-opc:hover {
  background-color: #78a88d;
  color: white;
}

.textopeqcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.monedas-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.precio-final-monedas {
  background-color: #78a88d;
  font-size: 0.7rem;
  padding: 0.3rem 0.4rem;
  margin: 0.1rem;
  width: 7rem;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.precio-final-monedas:hover {
  color: #300b39;
  background-color: white;
}

.textopeq {
  font-size: 1rem;
  padding: 0.2rem 0.5rem;
  margin: 0.1rem;
}

.cant-pag-cont {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.cant-pag {
  width: 7rem;
  font-size: 1rem;
  transition: 0.5s ease-out;
  font-weight: bold;
  cursor: pointer;
}
.cant-pag:hover {
  color: #300b39;
  background-color: white;
}

.monedaactiva {
  color: #300b39;
  background-color: white;
}

.greenback {
  background-color: #78a88d;
}

.darkmodebutton {
  background-color: #300b39;
  border: none;
  border-radius: 15px;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.leermasbutton {
  background-color: #795282;
  border: none;
  border-radius: 15px;
  padding: 0.5rem 2rem;
  margin: 0rem 1rem;
  height: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  transition: 0.5s ease-in-out;
}
.leermasbutton:hover {
  background-color: #78a88d;
}

.darkicon {
  width: 2rem;
  padding: 0.5rem;
  filter: invert(100%);
  transition: 0.5s ease-in-out;
}
.darkicon:hover {
  transform: rotate(40deg);
}

.darkmodeback {
  transition: 0.5s ease-in-out;
  background-color: #2e0c38;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.1);
}

.sectionwa-subtit-cont {
  justify-content: center;
}

.input {
  width: 60%;
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
  background-color: white;
  border: none;
  color: #300b39;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  text-align: center;
  word-wrap: normal;
}

.input::placeholder {
  color: #c2c2c2;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.ff-ing-sal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.ff-ing-sal-text {
  position: relative;
  bottom: 0.5rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  color: #78a88d;
}

.wadestacado {
  width: 5rem;
  padding: 0.2rem;
  margin: 1rem;
  background-color: #78a88d;
  font-size: 1rem;
  color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}

.watexto {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  padding: 0.5rem;
  line-height: 2rem;
}

.wabotonmensaje {
  color: #300b39;
  text-align: center;
  align-items: center;
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  background-color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  margin: 0.1rem;
  transition: 0.5s ease-in-out;
  text-decoration: none;
  cursor: pointer;
}
.wabotonmensaje:hover {
  background-color: #78a88d;
  color: white;
}

.wasendlogo {
  width: 1.5rem;
  z-index: 100;
  transition: all 0.5s;
  filter: invert(100%);
}

.lightmode {
  position: absolute;
  top: 2rem;
  color: #300b39;
  padding: 2rem;
  background-color: white;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.rojo {
  font-weight: bold;
  color: #9e1717;
}

.verde {
  color: #78a88d;
}

.borde1 {
  border-left: 3px solid #795282;
}

.borde2 {
  border-left: 3px solid #78a88d;
}

.borde3 {
  border-left: 3px solid #a4c6dd;
}

.borde4 {
  border-left: 3px solid #dda4a4;
}

.borde1bold {
  border-left: 5px solid #795282;
}

.borde2bold {
  border-left: 5px solid #78a88d;
}

.borde3bold {
  border-left: 5px solid #a4c6dd;
}

.borde4bold {
  border-left: 5px solid #dda4a4;
}

.menumobilebutton {
  font-size: 3rem;
  color: #78a88d;
  font-weight: lighter;
  background: none;
  border: none;
  position: fixed;
  top: 0rem;
  left: 1rem;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.side {
  animation: sideeffect 0.4s;
  animation-name: sideeffect;
}
@keyframes sideeffect {
  0% {
    opacity: 0%;
    position: relative;
    right: 0.5rem;
  }
  10% {
    opacity: 5%;
    position: relative;
    right: 0.45rem;
  }
  20% {
    opacity: 10%;
    position: relative;
    right: 0.4rem;
  }
  30% {
    opacity: 15%;
    position: relative;
    right: 0.35rem;
  }
  40% {
    opacity: 20%;
    position: relative;
    right: 0.3rem;
  }
  50% {
    opacity: 30%;
    position: relative;
    right: 0.25rem;
  }
  60% {
    opacity: 50%;
    position: relative;
    right: 0.2rem;
  }
  70% {
    opacity: 70%;
    position: relative;
    right: 0.15rem;
  }
  80% {
    opacity: 80%;
    position: relative;
    right: 0.1rem;
  }
  90% {
    opacity: 90%;
    position: relative;
    right: 0.05rem;
  }
  100% {
    opacity: 100%;
    position: relative;
    right: 0rem;
  }
}

.upward {
  animation: upwardeffect 0.4s;
  animation-name: upwardseffect;
}
@keyframes upwardseffect {
  0% {
    opacity: 0%;
    position: relative;
    bottom: 0.5rem;
  }
  10% {
    opacity: 5%;
    position: relative;
    bottom: 0.45rem;
  }
  20% {
    opacity: 10%;
    position: relative;
    bottom: 0.4rem;
  }
  30% {
    opacity: 15%;
    position: relative;
    bottom: 0.35rem;
  }
  40% {
    opacity: 20%;
    position: relative;
    bottom: 0.3rem;
  }
  50% {
    opacity: 30%;
    position: relative;
    bottom: 0.25rem;
  }
  60% {
    opacity: 50%;
    position: relative;
    bottom: 0.2rem;
  }
  70% {
    opacity: 70%;
    position: relative;
    bottom: 0.15rem;
  }
  80% {
    opacity: 80%;
    position: relative;
    bottom: 0.1rem;
  }
  90% {
    opacity: 90%;
    position: relative;
    bottom: 0.05rem;
  }
  100% {
    opacity: 100%;
    position: relative;
    bottom: 0rem;
  }
}

.infade {
  animation: infade 0.4s;
  animation-name: infade;
}
@keyframes infade {
  0% {
    opacity: 0%;
  }
  10% {
    opacity: 5%;
  }
  20% {
    opacity: 10%;
  }
  30% {
    opacity: 15%;
  }
  40% {
    opacity: 20%;
  }
  50% {
    opacity: 30%;
  }
  60% {
    opacity: 50%;
  }
  70% {
    opacity: 70%;
  }
  80% {
    opacity: 80%;
  }
  90% {
    opacity: 90%;
  }
  100% {
    opacity: 100%;
  }
}

.outfade {
  animation: outfade 0.4s;
  animation-name: outfade;
}
@keyframes infade {
  0% {
    opacity: 100%;
  }
  10% {
    opacity: 90%;
  }
  20% {
    opacity: 80%;
  }
  30% {
    opacity: 70%;
  }
  40% {
    opacity: 60%;
  }
  50% {
    opacity: 50%;
  }
  60% {
    opacity: 40%;
  }
  70% {
    opacity: 30%;
  }
  80% {
    opacity: 20%;
  }
  90% {
    opacity: 10%;
  }
  100% {
    opacity: 0%;
  }
}

.rotar {
  color: white;
  transform: rotate(179.9deg);
}

.lightback {
  color: #300b39;
  background: white;
  background: linear-gradient(180deg, white 5%, #f2dfff 46%, #f1fffa 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.lightmodebutton {
  color: white;
  background: #300b39;
}

.lightmodebuttonwhite {
  color: white;
  background: #78a88d;
}

.lightext {
  color: #300b39;
}

.lightmenu {
  color: black;
}
.lightmenu:hover {
  background-color: #300b39;
  color: white;
}

.right {
  transition: 0.5s all ease-in-out;
  position: relative;
  right: 2rem;
}

.left {
  transition: 0.5s all ease-in-out;
  position: relative;
  left: 2rem;
}

.hide {
  display: none;
}

/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/* MOBILE */
/* Extends */
.sectionwa-subtit-cont {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

/* LISTAS */
/* MIXINS */
/*USADOS PARA LAS CLASS: DETACADO Y TITULOS*/
/*USADOS PARA LAS CLASS: PARRAFOS Y GLOSARIO-TEXTO*/
/*AGREGAR WEBKITS*/
/*MOBILE QUERY*/
@media only screen and (min-width: 601px) {
  .none-desktop {
    display: none !important;
  }
}
@media only screen and (min-width: 100px) and (max-width: 600px) {
  body .none-mobile {
    display: none !important;
  }

  .section {
    height: fit-content;
    padding: 3rem;
  }

  nav {
    text-align: center;
    top: 4rem;
    width: 100%;
    opacity: 100%;
    font-size: 0.8rem;
    background: black;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding: 10rem 0rem 30rem 0rem;
    transition: 0.5s all ease-in-out;
    z-index: 100;
  }

  .darkmodebutton {
    top: 1rem;
  }

  .ttd {
    font-size: 0.7rem;
  }

  .ttd-text {
    font-size: 0.7rem;
  }

  .mail {
    font-size: 0.7rem;
  }

  .titulos {
    font-size: 1.5rem;
  }

  .paginascont {
    margin: 0 auto;
  }

  .nuestrostrabajosstatic {
    width: 100%;
    margin: 1rem;
    border-radius: 10px;
    font-size: 3rem;
    padding: 5rem;
  }

  .menumobilebutton {
    font-size: 3rem;
    color: #78a88d;
    font-weight: lighter;
    background: none;
    border: none;
    position: fixed;
    top: 0rem;
    left: 1rem;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
  }

  .menu-item {
    margin-top: 1rem;
  }

  .rotar {
    color: white;
    transform: rotate(179.9deg);
  }

  .subtitulos-trabajos, .skills, .precios-opc, .wabotonmensaje {
    font-size: 1rem;
  }

  .skillscont, .opc-cont, .nuestrostrabajoscont {
    margin-top: 2rem;
  }

  .servicios {
    width: 100%;
    margin: 1rem;
    font-size: 1rem;
    padding: 1.5rem;
  }

  .servicios-opc {
    font-size: 0.8rem;
  }

  .subtitulos-trabajos-deskmob {
    padding: 0.15rem;
    font-size: 0.7rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    width: 5rem;
    cursor: pointer;
  }
  .subtitulos-trabajos-deskmob:hover {
    color: white;
    background-color: #78a88d;
  }
}

/*# sourceMappingURL=style.css.map */
