@import '../funciones/mixins';
@import '../funciones/list';

*{
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 10px;
     }

    ::-webkit-scrollbar-thumb {
        background: nth($color, 2);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: rgb(238 234 244) 0px 0px 5px inset;
        border-radius: 10px;
    }

}

body {
    line-height: 1.55;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    background: rgb(46,61,68);
    background: linear-gradient(180deg, rgba(46,61,68,1) 5%, rgba(48,11,57,1) 100%);
    background-repeat:no-repeat;
    background-size: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header {
    height: 45vw;
}

nav {
    text-align: left;
    position: fixed;
    left: 0rem;
    top: 1rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    opacity: 20%;
    letter-spacing: 1rem;
    font-size: 1rem;
    &:hover {
        opacity: 100%;

  }
}

.menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    align-items: left;
}

.menu-item {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    padding: 0.5rem 2rem;

    list-style: none;
    text-decoration: none;

    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
          background-color: rgb(120,168,141);
          color: white;

    }
}

.menu-item-mini {
    letter-spacing: 0.3rem;
    font-size: 0.6rem;
}

.section {
    height: fit-content;
    padding: 5rem;
    text-align: center;
    width: 100%;
}

.titulos {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 3rem;
}

.subtitulos {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.2rem;
    width: 15rem;
}


.proximamente {
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 3rem;
}

.ttd-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.ttd {
    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }
}

.mail {
    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #300b39;
        background-color: rgb(120,168,141);
    }
}


.ttd-text {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #300b39;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    z-index: -50;
}




// NUESTROS TRABAJOS

.nuestrostrabajoscont {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;


    
}

.logoscont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0.1rem;
    }


    .subtitulos-trabajos {
        color: #300b39;
        text-align: center;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        background-color: white;
        padding: 0.5vw;
        font-size: 1.5rem;
        margin: 0.1rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;

    
        &:hover {
            background-color: rgb(120,168,141);
            color: white;

        }
    }
    .subtrabcont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .deskmobcont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .subtitulos-trabajos-deskmob {
        color: white;
        text-align: center;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        background-color: #300b39;
        padding: 0.15vw;
        font-size: 0.7vw;
        margin: 0.1rem;
        transition: 0.5s ease-in-out;
        width: 5rem;
        
        cursor: pointer;

        &:hover {
            color: white;
            background-color: rgb(120,168,141);
        }
    }

 
    .paginascont {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    

.nuestrostrabajosimg {
    width: 60%;
    margin: 1rem;
    border-radius: 10px;

}

.nuestrostrabajosimgmob {
    width: 15vw;
    margin: 1rem;
    border-radius: 10px;

}

.nuestrostrabajosstatic {
    width: 60%;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e0c38;
    color: white;
    font-size: 3rem;
    padding: 12rem;
    font-family: 'Roboto Slab', serif;


}

.skillscont {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;

}



.skills {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }
}


.white {
    color: white;
}


.bio {
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    font-family: 'Roboto Slab', serif;
    width: 60%;
    padding: 10rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #2e0c38;

    animation: excelente 8s infinite;
    animation-name: excelente;

    @keyframes excelente {

        0% {
            border: 2px white solid;
        }

        10% {
            border: 2px #78a88d solid;
       }

        20% {
            border: 2px white solid;            
               }

        30% {
            border: 2px #78a88d solid;
       }

        40% {
            border: 2px white solid;
        }

        50% {
            border: 2px #78a88d solid;
       }
        
        60% {
            border: 2px white solid;
        }

        70% {
            border: 2px #78a88d solid;
       }

        80% {
            border: 2px white solid;
        }

        90% {
            border: 2px #78a88d solid;
       }
        
        100% {
            border: 2px white solid;
        }
}
}

.whitemode {
    color: #2e0c38;
    background-color: white;
}

.cont-botones-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;   
}

.hacemeclick {
    font-family: 'Roboto Slab', serif;
    color: #2e0c38;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    width: 25%;
    border: none;
    background-color: white;
    font-weight: bold;
    letter-spacing: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
.botoncont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.botonsubmit {
    cursor: pointer;
    background-color: #78a88d;
    transition: 0.5s ease-in-out;
    margin-left: 0.4rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    color: white;


}

.navicon {
    width: 3rem;
    filter: invert(100%);
}

.precios-det-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.opc-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.precios-opc {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }

}





.servicios-opc {
text-decoration: none;
list-style: none;
margin: 0.5rem;
display: flex;
flex-direction: row;
justify-content:space-between;
justify-items: center;
align-items: center;
width: 100%;
}

.opcion {
    border-radius: 300px;

}

.opcion-input {
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 100px;
    text-align: center;
    position: relative;
    right: 0.3rem;
    transition: 0.5s all;

    &:hover {
        color: rgb(119, 179, 30);
    }
}

.opcion-input-nro {
    width: 3rem;
    height: 2rem;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: 0.5s all;

    &:hover {
        color: rgb(119, 179, 30);
    }
}


.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 60%;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e0c38;
    color: white;
    font-size: 1.5rem;
    padding: 6rem;
    font-family: 'Roboto Slab', serif;
}

.precio-final-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0rem;
}

.precio-final-opc {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 1.3rem 0.5rem;
    font-size: 2rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;
    }

}

.monedas-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.precio-final-monedas {

    background-color: #78a88d;
    font-size: 0.7rem;
    padding: 0.1rem 0.4rem;
    margin: 0.1rem;
    width: 7rem;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  
    &:hover {
        color: #300b39;
        background-color: white;
        
    }
}

.cant-pag-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cant-pag {
    width: 4rem;
    transition: 0.5s ease-out;
    font-weight: bold;
    cursor: pointer;
  
    &:hover {
        color: #300b39;
        background-color: white;
        
    }
}

.monedaactiva {
    color: #300b39;
    background-color: white;

    
}

.textopeq {

    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    margin: 0.1rem;
}

.greenback {
    background-color: #78a88d;
}

.darkmodebutton {
    background-color: #795282;
    border: none;
    border-radius: 15px;
}

.leermasbutton {
    background-color: #795282;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin: 0rem 1rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: 0.5s ease-in-out;


    &:hover {
        background-color: rgb(120,168,141);
        
    }
}

.darkicon {
    width: 4rem;
    padding: 1rem;
    filter: invert(100%);
    transition: 0.5s ease-in-out;

    &:hover {
        transform: rotate(40deg);
    }
}

.darkmodeback {
    transition: 0.5s ease-in-out;
    background-color: #2e0c38;
    box-shadow: 3px 3px 5px rgb(255, 255, 255, 10%);
}




/////////WHATSAPP

// SECCION WHATSAPP
.sectionwa-subtit-cont {
    @extend %flexbox-column;
    justify-content: center;

}

.wapadding {
    padding: 15rem 0rem;
}

.input {
    width: 30rem;
    height: fit-content;
    padding: 1rem;
    margin: 1rem 1rem 0rem 1rem;
    background-color: white;
    border: none;
    color: #78a88d;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    word-wrap: normal;

}

.input-date {
    width: 30rem;
    padding: 0.4rem 1rem;
    margin: 1rem 1rem 0rem 1rem;
    background-color: white;
    border: none;
    color: #78a88d;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
}

.input-ff {
    width: 30rem;
    padding: 0.2rem 1rem;
    margin: 0rem 1rem;
    background-color: #78a88d;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 0.6rem;
}  


.input::placeholder {
    color: rgb(194, 194, 194);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

 .ff-ing-sal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.ff-ing-sal-text {
    position: relative;
    bottom: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #78a88d;
}



.wadestacado {
    width: 5rem;
    padding: 0.2rem;
    margin: 1rem;
    background-color: #78a88d;
    font-size: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

.watexto {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0.5rem;
    line-height: 2rem;


}

.wabotonmensaje {
    width: 10.6rem;
    padding: 1rem;
    margin: 3rem 1rem 1rem 1rem;
    background-color: white;
    font-size: 1rem;
    color: #78a88d;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.5s;
    border: none;

    &:hover {
        background-color: #78a88d;
        color: white;
    }

}




.wasendlogo {
    width: 1.5rem;
    z-index: 100;
    transition: all 0.5s;

    filter: invert(100%);
}


.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.hide {
    display: none;
}

.rojo {
    font-weight: bold;
    color: rgb(158, 23, 23);
}

.verde {
    color: #78a88d;
}




///////////////////////
////BORDES DE COLOR////
///////////////////////

.borde1 {
    border-left: 3px solid #795282;
}

.borde2 {
    border-left: 3px solid #78a88d;
}

.borde3 {
    border-left: 3px solid rgb(164, 198, 221)
}

.borde4 {
    border-left: 3px solid rgb(221, 164, 164)
}

.borde1bold {
    border-left: 5px solid #795282;
}

.borde2bold {
    border-left: 5px solid #78a88d;
}

.borde3bold {
    border-left: 5px solid rgb(164, 198, 221)
}

.borde4bold {
    border-left: 5px solid rgb(221, 164, 164)
}






///////////////////////////////
////////////EFECTOS////////////
///////////////////////////////



.side {
    animation: sideeffect 0.4s ;
    animation-name: sideeffect;

    @keyframes sideeffect {

        0% {
            opacity: 0%;
            position: relative;
            right: 0.5rem;
        }

        10% {
            opacity: 5%;
            position: relative;
            right: 0.45rem;
       }

        20% {
            opacity: 10%;
            position: relative;
            right: 0.4rem;
            
               }

        30% {
            opacity: 15%;
            position: relative;
            right: 0.35rem;
       }

        40% {
            opacity: 20%;
            position: relative;
            right: 0.3rem;
        }

        50% {
            opacity: 30%;
            position: relative;
            right: 0.25rem;
       }
        
        60% {
            opacity: 50%;
            position: relative;
            right: 0.2rem;
        }

        70% {
            opacity: 70%;
            position: relative;
            right: 0.15rem;
       }

        80% {
            opacity: 80%;
            position: relative;
            right: 0.1rem;
        }

        90% {
            opacity: 90%;
            position: relative;
            right: 0.05rem;
       }
        
        100% {
            opacity: 100%;
            position: relative;
            right: 0rem;
        }
}
}

.upward {
    animation: upwardeffect 0.4s ;
    animation-name: upwardseffect;

    @keyframes upwardseffect {

        0% {
            opacity: 0%;
            position: relative;
            bottom: 0.5rem;
        }

        10% {
            opacity: 5%;
            position: relative;
            bottom: 0.45rem;
       }

        20% {
            opacity: 10%;
            position: relative;
            bottom: 0.4rem;
            
               }

        30% {
            opacity: 15%;
            position: relative;
            bottom: 0.35rem;
       }

        40% {
            opacity: 20%;
            position: relative;
            bottom: 0.3rem;
        }

        50% {
            opacity: 30%;
            position: relative;
            bottom: 0.25rem;
       }
        
        60% {
            opacity: 50%;
            position: relative;
            bottom: 0.2rem;
        }

        70% {
            opacity: 70%;
            position: relative;
            bottom: 0.15rem;
       }

        80% {
            opacity: 80%;
            position: relative;
            bottom: 0.1rem;
        }

        90% {
            opacity: 90%;
            position: relative;
            bottom: 0.05rem;
       }
        
        100% {
            opacity: 100%;
            position: relative;
            bottom: 0rem;
        }
}
}

