@import '../funciones/mixins';
@import '../funciones/list';

*{
    padding: 0;
    margin: 0;

    ::-webkit-scrollbar {
        width: 10px;
     }

    ::-webkit-scrollbar-thumb {
        background: nth($color, 2);
        border-radius: 8px;
    }
    
    ::-webkit-scrollbar-track {
        box-shadow: rgb(238 234 244) 0px 0px 5px inset;
        border-radius: 10px;
    }

}

body {
    line-height: 1.55;
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    background: rgb(46,61,68);
    background: linear-gradient(180deg, rgba(46,61,68,1) 5%, rgba(48,11,57,1) 100%);
    background-attachment:fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

header {
   padding: 20rem 0;
}

nav {
    text-align: left;
    position: fixed;
    left: 0rem;
    top: 1rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    opacity: 20%;
    letter-spacing: 1rem;
    font-size: 0.8rem;
    &:hover {
        opacity: 100%;

  }
}

.menu-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-decoration: none;
    align-items: left;
}



.menu-item {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
    padding: 0.5rem 2rem;
    color: white;
    list-style: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &:hover {
          background-color: rgb(120,168,141);
          color: white;

    }
}


.menu-item-mini {
    letter-spacing: 0.3rem;
    font-size: 0.6rem;
}

.section {
    height: fit-content;
    padding: 10rem;
    text-align: center;
    width: 100%;
}

.titulos {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 3rem;
}

.subtitulos {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.2rem;
    width: 15rem;
}


.proximamente {
    color: white;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 3rem;
}

.ttd-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.ttd {
    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }
}

.mail {
    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        color: #300b39;
        background-color: rgb(120,168,141);
    }
}


.ttd-text {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #300b39;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    z-index: -50;
}




// NUESTROS TRABAJOS

.nuestrostrabajoscont {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;


    
}

.logoscont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0.1rem;
    }


    .subtitulos-trabajos {
        color: #300b39;
        text-align: center;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        background-color: white;
        padding: 0.5rem;
        font-size: 1.5rem;
        margin: 0.1rem;
        transition: 0.5s ease-in-out;
        cursor: pointer;

    
        &:hover {
            background-color: rgb(120,168,141);
            color: white;

        }
    }
    .subtrabcont {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .deskmobcont {
        display: flex;
        flex-direction: column;
        justify-content: center;
        justify-items: center;
        align-items: center;
    }

    .subtitulos-trabajos-deskmob {
        color: white;
        text-align: center;
        align-items: center;
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        background-color: #300b39;
        padding: 0.15rem;
        font-size: 0.7rem;
        margin: 0.1rem;
        transition: 0.5s ease-in-out;
        width: 5rem;
        
        cursor: pointer;

        &:hover {
            color: white;
            background-color: rgb(120,168,141);
        }
    }

 
    .paginascont {
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    

.nuestrostrabajosimg {
    width: 60%;
    margin: 1rem;
    border-radius: 10px;

}

.nuestrostrabajosimgmob {
    width: 15rem;
    margin: 1rem;
    border-radius: 10px;

}

.nuestrostrabajosstatic {
    width: 60%;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e0c38;
    color: white;
    font-size: 3rem;
    padding: 12rem;
    font-family: 'Roboto Slab', serif;


}

.skillscont {

    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin-top: 5rem;

}



.skills {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }
}


.white {
    color: white;
}


.bio {
    margin: 0 auto;
    transition: 0.5s ease-in-out;
    font-family: 'Roboto Slab', serif;
    width: 60%;
    padding: 5rem;
    margin: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
    background-color: #2e0c38;

    animation: excelente 8s infinite;
    animation-name: excelente;

    @keyframes excelente {

        0% {
            border: 2px white solid;
        }

        10% {
            border: 2px #78a88d solid;
       }

        20% {
            border: 2px white solid;            
               }

        30% {
            border: 2px #78a88d solid;
       }

        40% {
            border: 2px white solid;
        }

        50% {
            border: 2px #78a88d solid;
       }
        
        60% {
            border: 2px white solid;
        }

        70% {
            border: 2px #78a88d solid;
       }

        80% {
            border: 2px white solid;
        }

        90% {
            border: 2px #78a88d solid;
       }
        
        100% {
            border: 2px white solid;
        }
}
}

.whitemode {
    color: #2e0c38;
    background-color: white;
}

.cont-botones-skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 100%;   
}

.hacemeclick {
    font-family: 'Roboto Slab', serif;
    color: #2e0c38;
    text-align: center;
    padding: 0.5rem;
    font-size: 1rem;
    width: 25%;
    border: none;
    background-color: white;
    font-weight: bold;
    letter-spacing: 0.5rem;
    cursor: pointer;
    transition: 0.5s ease-in-out;

}
.botoncont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.botonsubmit {
    cursor: pointer;
    background-color: #78a88d;
    transition: 0.5s ease-in-out;
    margin-left: 0.4rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    color: white;


}

.navicon {
    width: 3rem;
    filter: invert(100%);
}

.precios-det-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.opc-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.precios-opc {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }

}





.servicios-opc {
text-decoration: none;
list-style: none;
margin: 0.5rem;
display: flex;
flex-direction: row;
justify-content:space-between;
justify-items: center;
align-items: center;
width: 100%;
}

.opcion {
    border-radius: 300px;

}


.servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    width: 60%;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e0c38;
    color: white;
    font-size: 1.5rem;
    padding: 6rem;
    font-family: 'Roboto Slab', serif;
}

.precio-final-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0rem;
    border: none;
}

.precio-final-opc {

    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 2.1rem 0.5rem;
    font-size: 2rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border: none;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;
    }

}

.textopeqcont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-top: 3rem;
}

.monedas-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.precio-final-monedas {

    background-color: #78a88d;
    font-size: 0.7rem;
    padding: 0.3rem 0.4rem;
    margin: 0.1rem;
    width: 7rem;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  
    &:hover {
        color: #300b39;
        background-color: white;
        
    }
}
.textopeq {

    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    margin: 0.1rem;
}
.cant-pag-cont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.cant-pag {
    width: 7rem;
    font-size: 1rem;
    transition: 0.5s ease-out;
    font-weight: bold;
    cursor: pointer;
  
    &:hover {
        color: #300b39;
        background-color: white;
        
    }
}

.monedaactiva {
    color: #300b39;
    background-color: white;

    
}



.greenback {
    background-color: #78a88d;
}

.darkmodebutton {
    background-color: #300b39;
    border: none;
    border-radius: 15px;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.leermasbutton {
    background-color: #795282;
    border: none;
    border-radius: 15px;
    padding: 0.5rem 2rem;
    margin: 0rem 1rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    transition: 0.5s ease-in-out;


    &:hover {
        background-color: rgb(120,168,141);
        
    }
}

.darkicon {
    width: 2rem;
    padding: 0.5rem;
    filter: invert(100%);
    transition: 0.5s ease-in-out;

    &:hover {
        transform: rotate(40deg);
    }
}

.darkmodeback {
    transition: 0.5s ease-in-out;
    background-color: #2e0c38;
    box-shadow: 3px 3px 5px rgb(255, 255, 255, 10%);
}


/////////// GITHUB

.titulosgit {
    color: rgb(214, 214, 214);
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1.5rem;
}

.github-cont {
    width: 60%;
    margin: 1rem;
    border-radius: 10px;
    background-color: #2e0c38;
    padding: 5rem;
    margin: 0 auto;
}

.githublogo {
    width: 5rem;
    margin-bottom: 2rem;
}
.githubsquarecont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.githubsquare {
    width: 0.8rem;
    height: 0.8rem;
    margin: 0.15rem;
    border-radius: 1.5px;
    background-color: #2d323a;
    
}

.githubsquareanim {
    animation: githubsquareanim 6s infinite;
    animation-name: githubsquareanim;

    @keyframes githubsquareanim {

        0% {
            background-color: #2d323a;
        }

        30% {
            background-color: #59d24d;        
        }
        
        50% {
            background-color: #59d24d;        
        }

        100% {
            background-color: #2d323a;
        }
}
}

.githubperfilcont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
    margin: 2rem;
}

.githubperfilsubcont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    margin: 2rem;
}

.githubperfil {
    width: 10rem;
    height: 10rem;
    border-radius: 100px;
    object-fit: cover;
    transition: all 0.2s;
    padding: 0.1rem;
    cursor: pointer;
}

.gitbutton {
    text-decoration: none;
    background-color: rgb(100, 100, 100, 50%);
    color: rgb(180, 180, 180);
    font-size: 0.8rem;
    width: 10rem;
    padding: 0.3rem 0rem;
    font-weight: bolder;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s all ease-in-out;


    &:hover {
        color: white;
        background-color: rgb(134, 134, 134);
        box-shadow: 0 0 0.3px 0.3px white inset;

    }

}

.gitrepocontofrepos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.gitrepocont {
    border: 0.2px solid rgb(128, 128, 128, 50%);
    border-radius: 10px;
    width: 100%;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.gitrepolinea {
    display: flex;
    flex-direction: row; 
}

.githubrepoimg {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;

}

.gitrepotext1 {
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 1rem;
    color: rgb(61, 140, 243);
    }


.gitrepotext2 {
    font-family: 'Roboto Slab', serif;
    font-size: 0.7rem;
    margin: 0rem 2rem;
    color: grey;
    padding: 0.2rem 0.5rem;
    height: fit-content;
    border: 0.1px solid grey;
    border-radius: 10px;

}

.gitrepotext3 {
    position: relative;
    float: left;
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0rem;
    color: grey;
    text-decoration: none;
    transition: 0.5s all ease-in-out;
    cursor: cell;

    &:hover {
    color: rgb(120,168,141);
    }
}


/////////WHATSAPP

// SECCION WHATSAPP
.sectionwa-subtit-cont {
    @extend %flexbox-column;
    justify-content: center;

}


.input {
    
    width: 60%;
    height: fit-content;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    border: none;
    color: #300b39;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-align: center;
    word-wrap: normal;
}


.input::placeholder {
    color: rgb(194, 194, 194);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }

 .ff-ing-sal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}

.ff-ing-sal-text {
    position: relative;
    bottom: 0.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #78a88d;
}



.wadestacado {
    width: 5rem;
    padding: 0.2rem;
    margin: 1rem;
    background-color: #78a88d;
    font-size: 1rem;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;

}

.watexto {
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding: 0.5rem;
    line-height: 2rem;


}

.wabotonmensaje {
    color: #300b39;
    text-align: center;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: white;
    padding: 0.5rem;
    font-size: 1.5rem;
    margin: 0.1rem;
    transition: 0.5s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(120,168,141);
        color: white;

    }

}

.wasendlogo {
    width: 1.5rem;
    z-index: 100;
    transition: all 0.5s;

    filter: invert(100%);
}


.lightmode {
    position: absolute;
    top: 2rem;
    color: #300b39;
    padding: 2rem;
    background-color: white;
}

.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}


.rojo {
    font-weight: bold;
    color: rgb(158, 23, 23);
}

.verde {
    color: #78a88d;
}




///////////////////////
////BORDES DE COLOR////
///////////////////////

.borde1 {
    border-left: 3px solid #795282;
}

.borde2 {
    border-left: 3px solid #78a88d;
}

.borde3 {
    border-left: 3px solid rgb(164, 198, 221)
}

.borde4 {
    border-left: 3px solid rgb(221, 164, 164)
}

.borde5 {
    border-left: 3px solid rgb(221, 217, 164)
}


.borde1bold {
    border-left: 5px solid #795282;
}

.borde2bold {
    border-left: 5px solid #78a88d;
}

.borde3bold {
    border-left: 5px solid rgb(164, 198, 221)
}

.borde4bold {
    border-left: 5px solid rgb(221, 164, 164)
}

.color1 {
    color: #795282;
    margin: 0rem 0.2rem;
}

.color2 {
    color: #78a88d;
    margin: 0rem 0.2rem;
}

.color3 {
    color: rgb(164, 198, 221);
    margin: 0rem 0.2rem;
}

.color4 {
    color: rgb(221, 164, 164);
    margin: 0rem 0.2rem;
}

.color5 {
    color: rgb(221, 217, 164);
    margin: 0rem 0.2rem;

}

.menumobilebutton {
    font-size: 3rem;
    color: #78a88d;
    font-weight: lighter;
    background: none;
    border: none;
    position: fixed;
    top: 0rem;
    left: 1rem;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
} 



///////////////////////////////
////////////EFECTOS////////////
///////////////////////////////



.side {
    animation: sideeffect 0.4s ;
    animation-name: sideeffect;

    @keyframes sideeffect {

        0% {
            opacity: 0%;
            position: relative;
            right: 0.5rem;
        }

        10% {
            opacity: 5%;
            position: relative;
            right: 0.45rem;
       }

        20% {
            opacity: 10%;
            position: relative;
            right: 0.4rem;
            
               }

        30% {
            opacity: 15%;
            position: relative;
            right: 0.35rem;
       }

        40% {
            opacity: 20%;
            position: relative;
            right: 0.3rem;
        }

        50% {
            opacity: 30%;
            position: relative;
            right: 0.25rem;
       }
        
        60% {
            opacity: 50%;
            position: relative;
            right: 0.2rem;
        }

        70% {
            opacity: 70%;
            position: relative;
            right: 0.15rem;
       }

        80% {
            opacity: 80%;
            position: relative;
            right: 0.1rem;
        }

        90% {
            opacity: 90%;
            position: relative;
            right: 0.05rem;
       }
        
        100% {
            opacity: 100%;
            position: relative;
            right: 0rem;
        }
}
}
.upward {
    animation: upwardeffect 0.4s ;
    animation-name: upwardseffect;

    @keyframes upwardseffect {

        0% {
            opacity: 0%;
            position: relative;
            bottom: 0.5rem;
        }

        10% {
            opacity: 5%;
            position: relative;
            bottom: 0.45rem;
       }

        20% {
            opacity: 10%;
            position: relative;
            bottom: 0.4rem;
            
               }

        30% {
            opacity: 15%;
            position: relative;
            bottom: 0.35rem;
       }

        40% {
            opacity: 20%;
            position: relative;
            bottom: 0.3rem;
        }

        50% {
            opacity: 30%;
            position: relative;
            bottom: 0.25rem;
       }
        
        60% {
            opacity: 50%;
            position: relative;
            bottom: 0.2rem;
        }

        70% {
            opacity: 70%;
            position: relative;
            bottom: 0.15rem;
       }

        80% {
            opacity: 80%;
            position: relative;
            bottom: 0.1rem;
        }

        90% {
            opacity: 90%;
            position: relative;
            bottom: 0.05rem;
       }
        
        100% {
            opacity: 100%;
            position: relative;
            bottom: 0rem;
        }
}
}
.infade {
    animation: infade 0.4s;
    animation-name: infade;

    @keyframes infade {

        0% {
            opacity: 0%;
        }

        10% {
            opacity: 5%;
       }

        20% {
            opacity: 10%;
            }

        30% {
            opacity: 15%;
       }

        40% {
            opacity: 20%;
        }

        50% {
            opacity: 30%;
       }
        
        60% {
            opacity: 50%;
        }

        70% {
            opacity: 70%;
       }

        80% {
            opacity: 80%;
        }

        90% {
            opacity: 90%;
       }
        
        100% {
            opacity: 100%;
        }
}}

.outfade {
    animation: outfade 0.4s ;
    animation-name: outfade;

    @keyframes infade {

        0% {
            opacity: 100%;
        }

        10% {
            opacity: 90%;
       }

        20% {
            opacity: 80%;
            
               }

        30% {
            opacity: 70%;
       }

        40% {
            opacity: 60%;
        }

        50% {
            opacity: 50%;
       }
        
        60% {
            opacity: 40%;
        }

        70% {
            opacity: 30%;
       }

        80% {
            opacity: 20%;
        }

        90% {
            opacity: 10%;
       }
        
        100% {
            opacity: 0%;
        }
}}

.rotar {
    color: rgb(221, 164, 164);
    transform: rotate(135deg);
} 






///////////////////////////
////LIGHT MODE///////////



.lightback {
color: #300b39;
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(242,223,255,1) 46%, rgba(241,255,250,1) 100%);
background-repeat: no-repeat;
background-size: cover;
}


.lightmodebutton {
    color:white;
    background: #300b39;
}

.lightmodebuttonwhite {
    color:white;
    background: rgb(120,168,141);
}

.lightext {
    color: #300b39;
}

.lightmenu {
    color: black;

    &:hover {
        background-color: #300b39;
        color: white;
    }
}

.lightmenumob {
    color: black;
    background: rgb(243, 209, 252);
    background: linear-gradient(0deg, rgb(230, 196, 238) 17%, rgb(255, 255, 255) 90%, rgba(176, 236, 176, 0) 100%);

}


.right {
    transition: 0.5s all ease-in-out;
    position: relative;
    right: 2rem;
}

.left {
    transition: 0.5s all ease-in-out;
    position: relative;
    left: 2rem;
}


.hide {
    display: none;
}
